<form method="post" action="{{ path('app_back_supply_delete', {'id': supply.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette fourniture ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supply.id) }}">
	<button class="btn btn-danger btn-sm">Supprimer</button>
</form>
