@use  'src/styles/vars.scss';

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding-bottom: vars.$gutter;
  border: 2px solid vars.$dark;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: vars.$dark;
    text-align: center;
    color: vars.$white;

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: x-large;
      height: 14vh;
      min-height: 5vh;
      padding-top: vars.$gutter*0.5;
    }

    &-img {
      width: 90%;
      height: 30vh;
      min-height: 30vh;
      object-position: 50% 50%;
      object-fit: cover;
      border: 2px solid vars.$white;
    }

    &-info {
      margin-top: vars.$gutter*0.3;
      width: 90%;
      height: 10vh;

      &-date {
        font-size: small;
        line-height: vars.$gutter*1.2;
      }
    }
  }

  &-content {
    height: 22vh;
    max-height: 22vh;
    padding: vars.$gutter;
    overflow: hidden;
    font-size: small;
    text-align: justify;
  }
  
  &-link {
    width: 70%;
    margin-top: vars.$gutter;
    padding: vars.$gutter*0.5;
    text-align: center;
    border: 2px solid vars.$dark;

    &:hover {
      background-color: vars.$dark;
      border: 2px solid vars.$green;
      color: vars.$white;
    }
  }
}



/* -------- TABLET -------- */
@media (min-width:768px) {
  .post {
    width: 45%;
  }
}



/* -------- DESKTOP -------- */
@media (min-width:1024px) {
  .post {
    width: 30%;

    &-content {
      &-title {
        font-size: x-large;
      }

      &-description {
        font-size:medium;
      }
    }
  }
}
