{% extends 'base.html.twig' %}

{% block title %}Ariane Back-Office
{% endblock %}

{% block body %}
	<h2>Créer une nouvelle annonce</h2>

	{{ include('back/post/_form.html.twig') }}
	<br>
	<a class="btn btn-outline-primary btn-sm" href="{{ path('app_back_post_index') }}">Retour à la liste</a>
{% endblock %}
