@use  'src/styles/vars.scss';

.posts {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: vars.$gutter;
  gap: 5vh;
}



/* -------- TABLET -------- */
@media (min-width:768px) {
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
